name: wf-dotnet

on:
    workflow_dispatch:
    pull_request:
    push:
      branches:
        - main
      
permissions:
  id-token: write
  contents: read
  packages: write
  repository-projects: read
#                echo '::set-output name=value::[{\"variable\":\"FOLDER_WORK\",\"valor\":\"vars.FOLDER_PERSONALIZACION_SYNC\",\"archivo\":\"appspec.yml\"},{\"variable\":\"FOLDER_WORK\",\"valor\":\"vars.FOLDER_PERSONALIZACION_SYNC\",\"archivo\":\"appspec.yml\"}]'

jobs:

  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    steps:
      - id: matrix
        run: |
          echo '::set-output name=value::[\"a\", \"b\", \"c\"]'
  build:
    needs: [ setup ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJson(needs.setup.outputs.matrix)}}
    steps:
      - run: |
          echo "${{ matrix.value }}"